.MyLogo {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body, html{
    margin: 0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    padding: 0px 20px !important;
}

h1{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 800 !important;
    line-height: 63px;
    letter-spacing: 0.5px;
}

h5{
    font-family: "Poppins", sans-serif;
    color: #00746D !important;
    font-size: 21px !important;
    font-weight: 500;
    line-height: 40px !important;
}

h4 {
    font-size: 18px;
    font-weight: 800 !important;
    line-height: 30px !important;
    color: black;
    padding-bottom: 20px;
}

p{
    font-family: "Poppins", Sans-serif;
    font-size: 16px !important;
    line-height: 1.9em;
    margin-bottom: 0 !important;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 70px;
    padding-left: 0px !important;
}
li {
    display: flex;
    align-items: center;
}

.profileimg{
    background: url("../images/53150306_10157194378697853_7575992572619784192_o.jpg") no-repeat;
    background-size: cover;
    width: auto;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.firstsection {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.biocontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
}

.h5titles {
    text-align: center;
    padding-bottom: 30px;
}

.background-container {
    background-color: #def0ee; 
  }

.container {
    max-width: 1320px; /* Set your desired max-width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to the container if needed */
}
.MyIcons {
    width: 40px;
    padding-right: 15px;
}

.flex-container {
    display:flex;
    flex-wrap:wrap ;
    max-width: 1320px;
    justify-content: center;
    height: 200px;
}

.clientLogos {
    max-width: 260px
}

.sectionTwo {
    padding: 80px 0px 80px 0px;
}
.sectionThree {
    padding: 100px 0px 100px 0px;
}
.sectionFour {
    padding: 100px 0px 100px 0px;
}

.firstButton {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}


.industries {
    width: 300px;
    font-size: 18px;   
}

.skillsList ul{
    padding-left: 0px;
    font-size: 18px;
    line-height: 60px;   
}

.skillsList li{    
    display: flex;
    align-items: center;
    width: 410px;
    min-width: 315px;
    font-size: 18px;
}


.csrow {
    height: 400px;
    margin-top: 20px;
}

img.casestudyimg {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.finalsection {
    padding: 50px 0px 30px 0px;
}

.secondButton {
    margin-top: 30px;
}

.btn-outline-primary {
    color:#005B55;
    border-color: #005B55;
    border-radius: 16px;
    --bs-btn-hover-bg: #005b55;
}

h5.finalTitle {
    font-size: 28px;
}

.sectionFive {
    padding: 100px 0px 10px 0px;
}

.cscontentbg {
    background-color: #def0ee;
    height: 400px;
    border-radius: 10px;
}

.caseStudyContainer {
    height: 400px;
}

.caseStudyContent {
    padding: 25px;
}

.secondButton {
    color: #008B83;
}

footer {
    margin-top: 50px;
}

@media only screen and (max-width: 600) {
    /*Your CSS styles for your grid template are here */
    
}